<div class="navbar-fixed">
    <nav class="indigo darken-2 white-text">
        <div class="container">
            <div class="nav-wrapper ">
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <a class="brand-logo white-text" href="/">Shopping Cart</a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="" href="/shopping-cart">
                            <span class="new badge indigo lighten-2 " data-badge-caption="Item Added"><strong>{{session.cart.totalQty}}</strong></span>
                            <i class="fas fa-shopping-cart"></i>
                            Shopping Cart
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-trigger" data-target="user_manage">
                            <i class="fas fa-user"></i> User Management<i class="material-icons right">arrow_drop_down</i>
                        </a>

                    </li>
                    {{# if session.user_type}}
                    <li>
                        <a class="dropdown-trigger" data-target="admin_panel">
                            <i class="fas fa-toolbox"></i> Admin<i class="material-icons right">arrow_drop_down</i>
                        </a>

                    </li>
                    {{/if}}
                </ul>


            </div>
        </div>

    </nav>
</div>


<!-- Dropdown Structure -->

<!--User Management-->
<ul id="user_manage" class="dropdown-content">
    {{# if Login}}
    <li><a href="/user/profile"> <i class="fas fa-user-tie"></i> User
            Account</a></li>
    <li><a href="/user/logout"><i class="fas fa-sign-in-alt"></i>
            Logout</a></li>
    {{ else}}
    <li><a href="/user/signin"><i class="fas fa-sign-in-alt"></i>
            Login</a></li>
    <li><a href="/user/signup"><i class="fas fa-user-plus"></i>
            SignUp</a></li>

    {{/if}}
</ul>

<!--Admin -->
<ul class="dropdown-content" id="admin_panel">
    <li><a href="/admin/addProduct"><i class="fas fa-plus-circle"> </i> Add Product </a></li>
    <li><a href="/admin/editProduct"><i class="fas fa-edit"> </i> Edit Products</a></li>
    <li><a href="/admin/viewOrders"><i class="fas fa-eye"> </i> View Orders</a></li>
</ul>


<!--Mobile View Slide Navbar-->
<ul class="sidenav show-on-medium-and-down" id="nav-mobile">
    <li>
        <a class="" href="/shopping-cart">
            <span class="transparent black-text badge">{{session.cart.totalQty}}</span>
            <i class="fas fa-shopping-cart"></i>
            Shopping Cart
        </a>
    </li>
    <li>
        <a class="dropdown-trigger" data-target="user_manage_mobile">
            <i class="fas fa-user"></i> User Management<i class="material-icons right">arrow_drop_down</i>
        </a>

    </li>
    {{# if session.user_type}}
    <li>
        <a class="dropdown-trigger" data-target="admin_panel_mobile">
            <i class="fas fa-toolbox"></i> Admin<i class="material-icons right">arrow_drop_down</i>
        </a>

    </li>
    {{/if}}
</ul>


<!--Mobile DropDowns-->

<!--User Management-->
<ul id="user_manage_mobile" class="dropdown-content">
    {{# if Login}}
    <li><a href="/user/profile"> <i class="fas fa-user-tie"></i> User
            Account</a></li>
    <li><a href="/user/logout"><i class="fas fa-sign-in-alt"></i>
            Logout</a></li>
    {{ else}}
    <li><a href="/user/signin"><i class="fas fa-sign-in-alt"></i>
            Login</a></li>
    <li><a href="/user/signup"><i class="fas fa-user-plus"></i>
            SignUp</a></li>

    {{/if}}
</ul>

<!--Admin -->
<ul class="dropdown-content" id="admin_panel_mobile">
    <li><a href="/admin/addProduct"><i class="fas fa-plus-circle"> </i> Add Product </a></li>
    <li><a href="/admin/editProduct"><i class="fas fa-edit"> </i> Edit Products</a></li>
    <li><a href="/admin/viewOrders"><i class="fas fa-eye"> </i> View Orders</a></li>
</ul>