<div class="row ">
    <div class="col m8 offset-m2 teal white-text lighten-1 " style="border: 5px solid black; margin-top: 5vh;" >
        <h1 class="hero center  white-text ">SignUp</h1>
        {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p> {{this}} </p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="POST">
            <div class="input-field">
                <input type="email" name="email" class="validate amber-text" id="email" placeholder="Enter Email Here">
            </div>
            <div class="input-field">
                <input type="password" name="password" class="validate" id="password" placeholder="Password Here">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit" class="btn amber">Sign Up</button>
                <button type="reset" class="btn amber">Reset</button>
            <p class="black-text">Already Have an Account? <a href="/user/signin" class=" white-text">Login Here</a></p>
        </form>
        <br>
    </div>
</div>